<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
  <title>비밀번호 찾기</title>
</head>

<body class="text-center">
  <div layout:fragment="content">
    <form class="form-signin" th:action="@{/findPasswordByUsername}" method="GET">
      <h1 class="h3 mb-3 font-weight-normal">비밀번호 찾기</h1>
      <div th:if="${param.error}">
        가입되어 있는 아이디가 없습니다.
      </div>
      <label for="inputUsername" class="sr-only">아이디</label>
      <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required="" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">비밀번호 찾기</button>
    </form>
    <div th:if="${username != null}">
      <span th:text="|${username}님의 password은 ${password} 입니다.|" />
    </div>
    <form class="form-signin" th:action="@{/login}" method="GET">
      <button class="btn btn-md btn-success btn-block" type="Submit">로그인</button>
    </form>
    <form class="form-signin" th:action="@{/signup}" method="GET">
      <button class="btn btn-md btn-success btn-block" type="Submit">회원가입</button>
    </form>
    <a th:href="@{/findUsername}">아이디 |</a>
    <a th:href="@{/findPassword}"> 비밀번호 찾기</a>
  </div>
</body>

</html>
