<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
  <title>회원 정보</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body class="text-center">
  <div layout:fragment="content">
    <h1 th:text="|안녕하세요, ${username}님!|"></h1>
    <span th:text="|${username}님의	 id 번호 : ${id}|" />
    <form class="form-signin" th:action="@{/logout}" method="POST">
      <button class="btn btn-md btn-success btn-block" type="Submit">로그아웃</button>
    </form>
  </div>

</body>

</html>
