<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
  <title>나의 Oauth2 앱</title>
</head>

<body>
  <div layout:fragment="content">
      <h1 th:text="|${client.name} 정보|"></h1>
    
    <div>
        <table>
            <tr>
                <th>앱 이름</th>
                <th>CLIENT ID</th>
                <th>Client Secret</th>
                <th>앱 관리</th>
            </tr>
            <tr>
                <form class="form-signin" th:action="@{/app/delete/}+${client.name}" method="POST">
                <td th:text="${client.name}"></td>
                <td th:text="${client.clientId}"></td>
                <td th:text="${client.clientSecret}"></td>
                <td><button class="btn btn-md btn-success btn-block" type="Submit">앱 지우기</button></td>
                </form>
            </tr>
        </table>
    </div>


  </div>
</body>

</html>
