<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
  <title>나의 Oauth2 앱</title>
</head>

<body>
  <div layout:fragment="content">
      <form class="form-signin" th:action="@{/registerApp}" method="GET">
      <button class="btn btn-md btn-success btn-block" type="Submit">새 Oauth2 추가</button>
    </form>
    
    <div th:each = "app: ${apps}">
    	<p th:text="${app.name}"></p>
    	<p th:text="${app.client_id}"></p>
    	<p th:text="${app.client_secret}"></p>
    </div>
  </div>
</body>

</html>
